{% extends 'base.html' %}
{% load static %}
{% block content %}

        <div class="full-width">
            <div class="container-center"> <h1> Встречайте легенды </h1></div>
            <ul>
                {% for cat in cats %}
                        <li>
                            <div>
                                <p>Категория: {{ cat.category.name }} </p>
                                <p>Изменено: {{ cat.time_update|date:"d-m-Y H:i:s" }}</p>
                            </div>
                            <div class="container-inline align-v-center">
                                <div>
                                    <img src="{% static cat.img %}" alt="FunnyCats" width="100px">
                                </div>
                                <div style="padding: 10px;" class="full-width">
                                    <h2>{{ cat.title }}</h2>
                                    {% autoescape off %}
                                        <p>{{ cat.content|linebreaks|truncatewords:50 }}</p>
                                    {% endautoescape %}
                                    <div>
                                        <a href="{{ cat.get_absolute_url }}">
                                        <button type="button" class="button">Узнать больше</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if not forloop.last %}
                                <hr>
                            {% endif %}
                        </li>
                {% endfor %}
            </ul>
        </div>

{% endblock %}