html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}


a {
	color: #0059b2;
	text-decoration: none;
}
a:hover {
	color: #CC0000;
	text-decoration: underline;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

.header-style {
    max-height: 30px;
    background-color: #e0db72;
    padding: 15px;
}

.container-center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.container-inline{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.full-height{
    height:100%;
}

.full-width{
    width:100%;
}

.align-v-center{
    display:flex;
    align-items: center;
}

.button{
    background-color: #e0db72;
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 10px;
}

.button:hover{
    background-color: #b0ac5a;
}

.selected{
    background-color: #99964e;
}

.tag-element{
    margin: 1px;
    border: 1px solid grey;
    border-radius: 5px;
}

.tag-element:active{
    background-color: #99964e;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-label {
    display: inline-block;
    min-width: 150px;
    vertical-align: top;
}

.comment-container{
    padding: 5px;
}

.comment-title{
    background-color: #fcecc0;
}

.default-padding{
    padding: 5px;
}