{% extends 'base.html' %}

{% block content %}
  <h1>Профиль</h1>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-error">{{ form.non_field_errors }}</div>

      {% if user.photo %}
         <p><img src="{{ user.photo.url }}"  height="300">
      {% else %}
         <p><img src="{{ default_image }}"  height="300">
      {% endif %}

      {% for f in form %}
          <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
          <div class="form-error">{{ f.errors }}</div>
      {% endfor %}

      <p ><button type="submit">Сохранить</button></p>
  </form>

      <hr>
      <p ><a href="{% url 'users:password_change' %}">Сменить пароль</a></p>
{% endblock %}