<!DOCTYPE html>
{% load static %}
{% load cats_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <link type="text/css" href="{% static 'cats/css/base.css'%}" rel="stylesheet">
    <link type="text/css" href="{% static 'cats/css/includes.css'%}" rel="stylesheet">

</head>
<body>
    <div class="full-height">
        <div class="header-style">
            <nav>
                <ul>
                    <li>
                       <a href="/"><img src="{% static 'cats/images/catlogo.png' %}" alt="FunnyCats" height="30px"></a>
                    </li>

                    {% for el in mainmenu %}
                        <li><a href="{% url el.url_name %}">{{ el.title }}</a></li>
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'users:profile' %}">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Выйти</a></li>
                    {% else %}
                        <li><a href="{% url 'users:login' %}">Войти</a> | <a href="{% url 'users:register' %}">Регистрация</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="full-height full-width">
            <div class="container-inline full-height">

                <div class="full-height">
                    <nav class="side-navigation">
                        {% show_categories selected_id %}

                        {% show_all_tags %}
                    </nav>
                </div>

                <div class="full-width">
                {% block breadcrumbs %}
                {% endblock %}

                {% block content %}
                {% endblock %}

                {% block navigation %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>